/*----------------- FontAwesome ----------------*/

$fa-font-path: '../css/webfonts';

/*------------------Colores--------------------*/

$fondo: #f2f2f2;
$celeste: #008fd1;
$azul: #004d70;
$burdeos: #db008d;
$morado: #9800d1;
$amarillo: #eca300;

/*-------------------fuentes--------------------*/

$fuente_principal: 'Libre Baskerville',
serif;
/*------------------media-queries-------------------*/

$tablet: 480px;
$desktop: 768px;